.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/Aizu0718.AssemblyInfo.cs
obj/Debug/net6.0/Aizu0718.AssemblyInfoInputs.cache
obj/Debug/net6.0/Aizu0718.csproj.AssemblyReference.cache
obj/Debug/net6.0/Aizu0718.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Aizu0718.GlobalUsings.g.cs
bin/Debug/net6.0/Aizu0718
bin/Debug/net6.0/Aizu0718.deps.json
bin/Debug/net6.0/Aizu0718.dll
bin/Debug/net6.0/Aizu0718.runtimeconfig.json
obj/Aizu0718.csproj.nuget.dgspec.json
obj/Aizu0718.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/net6.0/Aizu0718.assets.cache
obj/Debug/net6.0/Aizu0718.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Aizu0718.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Aizu0718.dll
obj/Debug/net6.0/Aizu0718.pdb
obj/Debug/net6.0/apphost
obj/Debug/net6.0/ref/Aizu0718.dll
obj/Debug/net6.0/refint/Aizu0718.dll
obj/Debug/net6.0/Aizu0718.genruntimeconfig.cache
obj/project.nuget.cache
obj/Aizu0718.csproj.nuget.g.props
bin/Debug/net6.0/Aizu0718.pdb
